nav ul {
    padding: 0;
    list-style: none;
}
.nav-mobile {
    display: none;
}
.navbar__categories {
    display: flex;
}
.navbar__categories__header {
    cursor: pointer;
    display: block;
    padding: 24px;
}
.navbar__category {
    position: absolute;
    left: -9999px;
}
.navbar__category--active {
    left: unset;
}
@media all and (max-width: 768px) {
    .nav-mobile {
        display: block;
        height: 50px;
        z-index: 1;
        width: 50px;
    }
    .nav-mobile .nav-toggle {
        cursor: pointer;
        padding: 10px 35px 16px 0;
    }
    .nav-mobile .nav-toggle span,
    .nav-mobile .nav-toggle span:before,
    .nav-mobile .nav-toggle span:after {
        background: #000000;
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        position: absolute;
        display: block;
        content: "";
    }
    .nav-mobile .nav-toggle span:before {
        top: -10px;
    }
    .nav-mobile .nav-toggle span:after {
        bottom: -10px;
    }
    .nav-mobile .nav-toggle--active span {
        background-color: transparent;
    }
    .nav-mobile .nav-toggle--active span:before,
    .nav-mobile .nav-toggle--active span:after {
        top: 0;
    }
    .nav-mobile .nav-toggle--active span:before {
        transform: rotate(45deg);
    }
    .nav-mobile .nav-toggle--active span:after {
        transform: rotate(-45deg);
    }
    .navbar {
        position: absolute;
        left: -9999px;
    }
    .navbar--active {
        left: unset;
    }
    .navbar__categories {
        display: block;
    }
    .navbar__categories__header {
        padding-left: 0;
    }
    .navbar__category--active {
        position: relative;
    }
    .multi-col__category {
        position: relative;
    }
}